
.head{
    max-width: 1000px;
    height: 3rem;
    align-items: center;
    display: block;
    align-items: center;
    background-color: rgb(107, 107, 107);
    border-radius: .5rem;
    margin: auto;
    h1{
        text-align: center;
        margin: 0;
    }
}
.image_container{
    max-width: 1000px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .image-element{
        margin-top: 1rem;
        margin-bottom: 1rem;
        display: block;
        width: 20rem;
        background-color: aqua;
        border: 0.125rem solid black;
        border-radius: 0.5rem;
    
        img{
            width: 100%;
            aspect-ratio: 1920/1080;
            object-fit: cover;
            display: block;
            border-radius: 0.5rem;
        }
        h3{
            margin-bottom: 0;
            margin: 0;
            color: rgb(2, 44, 51);
            font-size: 2rem;
            height: 3rem;
            padding: 0.25rem;
            
        }
    
    }
}



.box_container{
    max-width: 1000px;
    margin: auto;
    display: flex;
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: block;
    width: 50rem;
    background-color: aqua;
    border: 0.125rem solid black;
    border-radius: 0.5rem;
    h3{
        font-size: 2rem;
    }
    .image_box{
        width: 100%;
        aspect-ratio: 1920/1080;
        object-fit: cover;
        display: block;
        border-radius: 0.5rem;
    }
    p{
        text-align: center;
        margin: 2rem;
        font-size: 1rem;
        font-weight: 800;
    }
    a{
        align-items: center;
    }
}